:root {
  --accent-color: #ff5733;
  --sidebar-background-color: #1c1d1e;
  --sidebar-text-color: #f5f5f5;

  --sn-stylekit-info-color: var(--accent-color);

  --navigation-column-background-color: var(--sidebar-background-color);
  --navigation-section-title-color: var(--sidebar-text-color);
  --navigation-item-text-color: var(--sidebar-text-color);

  --navigation-item-count-color: #7c7c7c;
  --navigation-item-selected-background-color: #0f1011;
}
